body {
    background-color: #ebebeb;
    /*margin-left: 60px;*/
    /*margin-top: 60px;*/
    margin: 60px 10px 0 60px;
}


/*.middle-side{*/
/*    float: left;*/
/*    width: 50%;*/
/*    height: 500px;*/
/*}*/
/*.right-side{*/
/*    float: left;*/
/*    width: 50%;*/
/*    height: 500px;*/
/*}*/
.dropdowns{
    display: flex;
    /*justify-content: flex-end;*/
}
.dropdown-image-1, .dropdown-image-2{
    flex-grow: 4;
    width: 400px
}
.dropdown-wrapper, .dropdowns{
    margin-bottom: 10px;
}
.info-wrapper{
    display: flex;
}
.image_info{
    padding: 10px;
    width: 400px;
}
/*.img-graph{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
/*.graph{*/
/*    width: 50%;*/
/*}*/
/*.image_info{*/
/*    border-top-left-radius: 37px 140px;*/
/*    border-top-right-radius: 23px 130px;*/
/*    border-bottom-left-radius: 110px 19px;*/
/*    border-bottom-right-radius: 120px 24px;*/

/*    background-color: aqua;*/

/*    display: block;*/
/*    position: relative;*/
/*    border: solid 3px #6e7491;*/
/*    padding: 40px 60px;*/
/*    max-width: 800px;*/
/*    width: 70%;*/
/*    margin: 10px auto 0;*/
/*    font-size: 17px;*/
/*    line-height: 28px;*/
/*    transform: rotate(-1deg);*/
/*    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);*/
/*    transition: all 0.13s ease-in;*/
/*}*/

/*.image_info:hover {*/
/*    transform: translateY(-10px) rotate(1deg);*/
/*    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.image_info:hover {*/
/*    transform: translateY(4px) rotate(-5deg);*/
/*}*/
/*.image-correction{*/
/*    margin-top: 10px;*/
/*    padding: 20px;*/
/*    background: bisque;*/
/*}*/